# apps/docker/.env.example

# Configuration de la base de données Scaleway (A remplir avec les vraies valeurs en production)
POSTGRES_HOST=navineo-postgres.rdb.scaleway.com
POSTGRES_USER=admin_navineo
POSTGRES_PASSWORD=__REPLACE_WITH_SECURE_PASSWORD__
POSTGRES_DB=navineo_interconnexions